@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 210 40% 98%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 238.7 83.5% 66.7%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 32% 91%;
    --input: 214.3 32% 91%;
    --ring: 222.2 84% 4.9%;

    --radius: 1.25rem;

    /* Surface States */
    --surface-default: #FFFFFF;
    --surface-hover: #F8FAFC;
    --surface-active: #EEF2F7;
    --surface-border: #E5EAF1;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;

    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 238.7 83.5% 66.7%;
    --primary-foreground: 210 40% 98%;

    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;

    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;

    --surface-default: #09090b;
    --surface-hover: #18181b;
    --surface-active: #27272a;
    --surface-border: #3f3f46;
  }
}

@layer utilities {
  .glass-card {
    @apply bg-white/90 dark:bg-white/5 border border-slate-100 dark:border-white/10 shadow-sm transition-all duration-200;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground antialiased;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}

@layer utilities {

  /* Scrollbar Visibility Overhaul */
  .custom-scrollbar::-webkit-scrollbar {
    width: 8px !important;
    display: block !important;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.02) !important;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #94a3b8 !important;
    /* slate-400 */
    border-radius: 20px !important;
    border: 2px solid transparent !important;
    background-clip: content-box !important;
  }

  .dark .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.3) !important;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: #64748b !important;
    /* slate-500 */
  }
}